<!--
  author:             Gianluca Cornetta
  -------------------------------------

  created:            20160301 08:00 am
  last modified:      20170803 09:00 am
  modification type:  improvement
  modified by:        Gianluca Cornetta
  changelog entry:    0001

-->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <div class="card" style="height:440px;">
          <div class="header" style="padding-bottom:5px;">
            <h4 class="title">System Logs</h4>
          </div>
          <div class="logger-wrapper">
            <div id="logger-message"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>