<!--
  author:             Gianluca Cornetta
  -------------------------------------

  created:            20160301 08:00 am
  last modified:      20170918 09:30 am
  modification type:  pruning unused links
  modified by:        Gianluca Cornetta
  changelog entry:    0001

-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar bar1"></span>
      <span class="icon-bar bar2"></span>
      <span class="icon-bar bar3"></span>
      </button>
      <a class="navbar-brand" href=<%=currentPanelRoute%>> <%=currentPanelName%> </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/logout" class="btn-rotate">
            <i class="ti-home"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
