<!--
  author:             Javier Mateos
  -------------------------------------

  created:            20170601 08:00 am
  
-->
<% for (var i= 0; i< printers.length; i++) {%>
<option value="<%=printers[i].DeviceURI%>">
  <%=printers[i].DeviceURI%>
</option>
<%}%>