#    shell scripts     #
########################
*.sh

#node_modules directory#
########################
/node_modules

#     chromedriver    #
#######################  
chromedriver

#    nodemon config   #
#######################
nodemon.json