#    shell scripts     #
########################
*.sh

#node_modules directory#
########################
/node_modules

#     chromedriver    #
#######################  
chromedriver

#    nodemon config   #
#######################
nodemon.json

#  ignore  log files  #
#######################
/logs/*
!/logs/.gitkeep


# ignore zetta files  #
#######################
/.devices
/.peers


