 <div class="row">
  <div class="col-md-12">
    <legend><%= print3dPanel.prusa.title %></legend>
    <div class="row">
      <fieldset>
        <div class="form-group">
          <div class="col-md-4">
            <select id="machine" name="machine" class="selectpicker" data-title="Machine" data-style="btn-danger btn-block" data-menu-style="dropdown-blue">
              <option value="i3 Berlin"><%= print3dPanel.prusa.model.i3berlin %></option>
            </select>
          </div>
        </div>
      </fieldset>
    </div>
    <br />
  </div>
</div>
