             <div class="row">
	        <div class="col-md-12">
		   <fieldset>
	              <legend><%= laserPanel.epilog.engine.title %></legend>
		         <div class="form-group">
			    <label class="col-sm-1 control-label"><%= laserPanel.epilog.engine.power %></label>
		            <div class="col-sm-2">
			       <div class="input-group">
			          <input type="number" step=1 name="power" placeholder="25" value="25" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-1 control-label"><%= laserPanel.epilog.engine.speed %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
			          <input type="number" step=1 name="speed" placeholder="75" value="75" class="form-control">
			       </div>
			    </div>
		            <label class="col-sm-1 control-label"><%= laserPanel.epilog.engine.rate %></label>
		            <div class="col-sm-2">
			       <div class="input-group">
			          <input type="number" step=1 name="rate" placeholder="500" value="500" class="form-control">
			       </div>
			    </div>
			 </div>
		      </fieldset>
		   </div>
	        </div>