<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend><%= millingPanel.roland.engine.title %></legend>
      <div class="form-group">
        </div-->
        <label class="col-sm-2 control-label">cut speed (mm/s)</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="cut_speed" placeholder="20" value="20" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label">plunge speed (mm/s)</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="plunge_speed" placeholder="20" value="20" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label">jog speed (mm/s)</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="jog_speed" placeholder="75" value="75" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label">jog height (mm)</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="jog_height" placeholder="5" value="5" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label">spindle speed (RPM)</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="spindle_speed" placeholder="10000" value="10000" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
