<!--
  author:             Gianluca Cornetta
  -------------------------------------

  created:            20160301 08:00 am

-->
<li>
  <a href="/dashboard/wizard">
    <i class="ti-wand"></i>
    <p><%=sideBar.wizard%></p>
  </a>
</li>