<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend><%= vinylPanel.roland.engine.title %></legend>
      <div class="form-group">
        <label class="col-sm-1 control-label"><%= vinylPanel.roland.engine.force %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="power" placeholder="60" value="60" class="form-control">
          </div>
        </div>
        <label class="col-sm-1 control-label"><%= vinylPanel.roland.engine.velocity %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="speed" placeholder="2" value="2" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
