<!--
  author:             Gianluca Cornetta
  -------------------------------------

  created:            20160301 08:00 am
  last modified:      20170803 09:00 am
  modification type:  improvement
  modified by:        Gianluca Cornetta
  changelog entry:    0001

-->
<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend><%= laserPanel.trotec.engine.title %></legend>
      <div class="form-group">
        <label class="col-sm-1 control-label"><%= laserPanel.trotec.engine.power %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="power" placeholder="25" value="25" class="form-control">
          </div>
        </div>
        <label class="col-sm-1 control-label"><%= laserPanel.trotec.engine.velocity %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="speed" placeholder="10" value="10" class="form-control">
          </div>
        </div>
        <label class="col-sm-1 control-label"><%= laserPanel.trotec.engine.frequency %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=1 name="rate" placeholder="5000" value="5000" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>