<div class="content">
  <div class="container-fluid">
    <div class="card">
      <form method="post" action="/dashboard/control/laser/gcc" enctype="multipart/form-data">
        <div class="content">
          <% include ../../process/upload %>
          <% include ../../process/laser-cutters/gcc/switches %> 
          <% include ../../process/laser-cutters/gcc/engine %>
          <div id="feedback"></div>
          <br />
          <button type="submit" id="submitDesign" class="btn btn-fill btn-info"><%= laserPanel.submitButtonText %></button>
        </div>
      </form>
    </div>
    <!-- end card -->
  </div>
</div>
